.footer {
  min-width: 450px;
  padding: 0 50px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.name {
  color: rgb(181, 181, 181);
  font-size: 15px;
  @media screen and (max-width: 525px) {
    display: none;
  }
}

.logo {
  color: gray;
  &:hover {
    cursor: pointer;
  }
}