.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  min-width: 450px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 400px;
}

.form {
  width: 100%;
}

.full-width {
  width: 100%;
}


.error {
  color: rgb(255, 62, 62);
  font-weight: bold;
}